* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: darkcyan;
  text-align: center;
  font-family: "Comfortaa", cursive;
}

body header {
  background-color: aquamarine;
  font-size: 30px;
  padding: 20px 0;
}

body header a {
  text-decoration: none;
  color: darkcyan;
}

body .dettagli {
  padding: 15px 0;
}

.contain {
  background-color: floralwhite;
  padding: 20px 0;
}

.contain p {
  padding-bottom: 10px;
}

.contain ul li {
  list-style-type: none;
  padding: 5px;
}

.contain .a-li,
.contain a {
  text-decoration: none;
  margin: 15px 0;
  color: darkcyan;
}

.contain .btn-aggiungi {
  text-decoration: none;
  margin: 50px;
  color: white;
  background-color: darkcyan;
}

.dett-ospite p {
  padding: 10px 0;
}

footer {
  background-color: darkcyan;
  color: floralwhite;
  padding: 50px auto;
}

footer p {
  padding: 20px 0;
}

